{% extends "base.html" %}
{% block content %}
<div class="card">
  <h1 class="mb-2">Edit Event</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.title.label }}
      {{ form.title }}
    </div>
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description }}
    </div>
    <div class="form-group">
      {{ form.date.label }}
      {{ form.date }}
    </div>
    <div class="form-group">
      {{ form.time.label }}
      {{ form.time }}
    </div>
    <div class="form-group">
      {{ form.location.label }}
      {{ form.location }}
    </div>
    <div class="form-group">
      {{ form.due_date.label }}
      {{ form.due_date }}
    </div>
    <button type="submit">Update Event</button>
  </form>
</div>
{% endblock %}